<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- Begin Head -->
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Megakit - HTML5 Theme</title>
    <meta name="keywords" content="HTML5 Theme" />
    <meta name="description" content="Megakit - HTML5 Theme">
    <meta name="author" content="keenthemes.com">
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <!-- Vendor Styles -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Theme Styles -->
    <link href="~/Scripts/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/css/global/global.css" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Scripts/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Scripts/img/apple-touch-icon.png">

    <link rel="stylesheet" href="~/Scripts/Particules/css/style.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="~/Scripts/Login/js/main.js"></script>
    <link rel="stylesheet" href="~/Scripts/Particules/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Scripts/Buttons/css/style.css">


</head>
<!-- End Head -->
<!-- Body -->
<div id="particles-js"></div>
<body>
    <!--========== HEADER ==========-->
    
    <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
        <!-- Navbar -->
        <div class="s-header__navbar">
            <div class="s-header__container">
                <div class="s-header__navbar-row">
                    <div class="s-header__navbar-row-col">
                        <!-- Logo -->
                        <div class="s-header__logo">
                            <a href="index.html" class="s-header__logo-link">
                                <img class="s-header__logo-img s-header__logo-img-default" src="~/Scripts/img/logo.png" alt="Megakit Logo">
                                <img class="s-header__logo-img s-header__logo-img-shrink" src="~/Scripts/img/logo-dark.png" alt="Megakit Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>
                    <div class="s-header__navbar-row-col">

                        <!-- Trigger -->
                        <a href="javascript:void(0);" class="s-header__trigger js__trigger">
                            <span class="s-header__trigger-icon"></span>
                            <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                            </svg>
                        </a>
                        <!-- End Trigger -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Overlay -->
        <div class="s-header-bg-overlay js__bg-overlay">
            <!-- Nav -->
            <nav class="s-header__nav js__scrollbar">
                <div class="container-fluid">
                    <!-- Menu List -->
                    <ul class="list-unstyled s-header__nav-menu">
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider -is-active" href="index.html">Corporate</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_app_landing.html">App Landing</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_portfolio.html">Portfolio</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_events.html">Events</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_lawyer.html">Lawyer</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_clinic.html">Clinic</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_coming_soon.html">Coming Soon</a></li>
                    </ul>
                    <!-- End Menu List -->
                    <!-- Menu List -->
                    <ul class="list-unstyled s-header__nav-menu">
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="about.html">About</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="team.html">Team</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="services.html">Services</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="events.html">Events</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="faq.html">FAQ</a></li>
                        <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="contacts.html">Contacts</a></li>
                    </ul>
                    <!-- End Menu List -->
                </div>
            </nav>
            <!-- End Nav -->
            <!-- Action -->
            <ul class="list-inline s-header__action s-header__action--lb">
                <li class="s-header__action-item"><a class="s-header__action-link -is-active" href="#">En</a></li>
                <li class="s-header__action-item"><a class="s-header__action-link" href="#">Fr</a></li>
            </ul>
            <!-- End Action -->
            <!-- Action -->
            <ul class="list-inline s-header__action s-header__action--rb">
                <li class="s-header__action-item">
                    <a class="s-header__action-link" href="#">
                        <i class="g-padding-r-5--xs ti-facebook"></i>
                        <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                    </a>
                </li>
                <li class="s-header__action-item">
                    <a class="s-header__action-link" href="#">
                        <i class="g-padding-r-5--xs ti-twitter"></i>
                        <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                    </a>
                </li>
                <li class="s-header__action-item">
                    <a class="s-header__action-link" href="#">
                        <i class="g-padding-r-5--xs ti-instagram"></i>
                        <span class="g-display-none--xs g-display-inline-block--sm">Instagram</span>
                    </a>
                </li>
            </ul>
            <!-- End Action -->
        </div>
        <!-- End Overlay -->
    </header>
    <!--========== END HEADER ==========-->
    <!--========== SWIPER SLIDER ==========-->
    <div class="s-swiper js__swiper-one-item">
        <!-- Swiper Wrapper -->
        <div class="swiper-wrapper">
            <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('~/Scripts/img/1920x1080/02.jpg');">
                <div class="container g-text-center--xs g-ver-center--xs">
                    <div class="g-margin-b-30--xs">
                        <h1 class="g-font-size-35--xs g-font-size-45--sm g-font-size-55--md g-color--white">A Web Experience<br>That Inspires learn</h1>
                    </div>
                    <div class="btn-group btn-group-justified">

                        

                            <div class="col-md-6"> <a href="#" class="btn btn-sm animated-button thar-two" onclick="location.href='@Url.Action("Login","Home")'">Sign in</a> </div>
                            <div class="col-md-6"> <a href="#" class="btn btn-sm animated-button thar-three" onclick="location.href='@Url.Action("Register","Home")'">Sign up</a> </div>
                        
    
                    </div>
                </div>
            </div>
        </div>
        <!-- End Swiper Wrapper -->
        <!-- Arrows -->
        <a href="javascript:void(0);" class="s-swiper__arrow-v1--right s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-right js__swiper-btn--next"></a>
        <a href="javascript:void(0);" class="s-swiper__arrow-v1--left s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-left js__swiper-btn--prev"></a>
        <!-- End Arrows -->

        <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
            <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
            <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
        </a>
    </div>

    <!--========== END FOOTER ==========-->
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>
    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="~/Scripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/jquery.back-to-top.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/swiper/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/waypoint.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/counterup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/jquery.parallax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U"></script>
    <script type="text/javascript" src="~/Scripts/vendor/jquery.wow.min.js"></script>
    <!-- General Components and Settings -->
    <script type="text/javascript" src="~/Scripts/js/global.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/header-sticky.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/scrollbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/swiper.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/counter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/portfolio-3-col.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/parallax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/google-map.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components/wow.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
    <script src="~/Scripts/Particules/js/index.js"></script>
    <!--========== END JAVASCRIPTS ==========-->
</body>
<!-- End Body -->
</html>
