@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectre sign up form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Scripts/Register/css/style.css">
    <link rel="stylesheet" href="~/Scripts/Particules/css/style.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">



    <style>
        body {
            background-color: #0d202e;
        }
    </style>

</head>
<body>
    @if (ViewData["message"] != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewData["message"]</strong>
        </div>
    }

    <div id="particles-js"></div>

    <div class="signup__container">

        <div class="container__child signup__form">
            @using (Html.BeginForm("MakeRegister", "Home", FormMethod.Post))
        {
            <form action="#">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="UserName" id="username" placeholder="Andres Benavides" required />
                </div>
                <div class="form-group">
                    <label for="email">FullName</label>
                    <input class="form-control" type="text" name="FullName" id="email" placeholder="Andres Felipe Benavides Montoya" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="Password" id="password" placeholder="********" required />
                </div>
                <div class="form-group">
                    <label for="passwordRepeat">Birthday</label>
                    <input class="form-control" type="date" name="Birthday" id="Birthday" placeholder="********" required />
                </div>
                <div class="m-t-lg">
                    <ul class="list-inline">
                        <li>
                            <input class="btn btn--form" type="submit" onclick="location.href='@Url.Action("Index","Home")'" value="Register" />
                        </li>

                    </ul>
                </div>
            </form>
    }

        </div>


    </div>


    <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
    <script src="~/Scripts/Particules/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>